<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<include file="Public/head"/>
	<link href="__STATIC__/datetimepicker/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="wrapper">
  <include file="Public/header" /> 
  <style type="text/css">
  	.search_input{
	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.428571429;
	    color: #555;
	    vertical-align: middle;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
  	}
  </style>
  <include file="Public/menu" />
  <div id="page-wrapper"> 
	  <div class="row">  
	    <div id="main" class="col-lg-12 main">

		<block name="body">
		<!-- 标题栏 -->
		<div class="main-title">
		    <h2>播放记录列表</h2>
		</div>
		
		<div class="panel panel-default">
		    <div class="panel-heading">		
			</div><!-- /.panel-heading -->    
			<div class="panel-body">
				<div class="table-responsive">		
					<table class="table table-striped table-bordered table-hover dataTables" id="ddt_dataTable_nosearch"><!-- 必须设定表格的id == -->
						<thead>
		                    <tr>
		                        <td></td>
		                        <td><input type="text" name="media" class="form-control ddt_search" placeholder="节目名称" /></td>
		                        <td><input type="text" name="name" class="form-control ddt_search" placeholder="屏幕名称" /></td>
		                        <td></td>
		                        <td>
		                        	<input type="text" name="start" class="form-control ddt_datetime" value="" placeholder="播放开始时间" readonly/>
		                        </td>
		                        <td>
		                        	<input type="text" name="end" class="form-control ddt_datetime" value="" placeholder="播放结束时间" readonly/>
		                        </td>
		                        <td>
		                        	<button class="btn btn-default ddt_search_btn" type="button">查 询</button>
			        				<if condition="in_array('RECORD/EXPORT', $_SESSION['_ACCESS_LIST'])">
			        				<a class="btn btn-default" onclick="export_data();">导 出</a>
			        				</if>
		                        </td>
		                    </tr>
							<tr>
		                        <th>ID</th>
		                        <th style="width: 18%;">节目名称</th>
		                        <th style="width: 18%;">屏幕名称</th>
		                        <th>所有者</th>
		                        <th style="width: 18%;">播放开始时间</th>
		                        <th style="width: 18%;">播放结束时间</th>
		                        <th>记录上传时间</th>
		                    </tr>
		                </thead>
		                <tbody>
						</tbody>
					</table>
				</div><!-- /.table-responsive --> 
			</div><!-- /.panel-body -->
		</div><!-- /.panel --> 						
		</block>
		</div>  
	  </div>
	</div>	 
  <include file="Public/footer" />
</div>    
<include file="Public/script" />
<load href="__JS__/jquery.blockUI.js" />
<script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</body>
<script type="text/javascript">
	Think.setValue("media", "{$media|default = ''}");
    Think.setValue("name", "{$name|default = ''}");
    Think.setValue("start", "{$start|default = ''}");
    Think.setValue("end", "{$end|default = ''}");
    var ddtTable = $('#ddt_dataTable_nosearch').dataTable({
    	"sDom": "<'row'<'col-sm-6'l><'col-sm-6'>r>" + "t" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "sPaginationType" : "full_numbers",
        "bProcessing": true,
        "ordering": false,
        "bServerSide": true,
        "iDisplayLength": 10,
        "sAjaxSource": "{:U('Index/Index/ajax_media_record')}",
        "oLanguage" : {
        	"sProcessing": "载入中...",
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sZeroRecords": "抱歉， 没有找到",
            "sLoadingRecords": "载入中...",
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
            "sZeroRecords": "没有检索到数据",
            "sSearch": "查询:",
            "oPaginate": {
	            "sFirst": "首页",
	            "sPrevious": "前一页",
	            "sNext": "后一页",
	            "sLast": "尾页"
            },  
        },
        "bLengthChange": true, //改变每页显示数据数量
		"aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
    });
    <if condition="in_array('RECORD/EXPORT', $_SESSION['_ACCESS_LIST'])">
    function export_data(){
    	$.blockUI();
    	var _media = $("input[name='media']").val();
    	var _name = $("input[name='name']").val();
    	var _start = $("input[name='start']").val();
    	var _end = $("input[name='end']").val();
    	var _url = "{:U('export')}?media="+_media+"&name="+_name+"&start="+_start+"&end="+_end;
    	location.href = _url;
    	$.unblockUI();
    	//return false;
    }
    </if>
	$(".ddt_datetime").datetimepicker({
    	//年月日 时分秒
    	language: 'zh-CN',
    	format: "yyyy-mm-dd hh:ii:ss",
    	weekStart: 0,
        todayBtn:  false,
		autoclose: true,
		todayHighlight: true,
		startView: 2,
		minView: 0,
		maxView: 4,
		forceParse: true,
		minuteStep: 1,
    });
    /*$(".ddt_search_btn").click(function(){
    	$.blockUI({ message: '<h1><img src="__IMG__/busy.gif" /> 查询中......</h1>' });
    	ddtTable.fnDraw();
    	$.unblockUI();
    });*/
    $("thead .ddt_search").keyup(function(){
    	$.blockUI({ message: '<h1><img src="__IMG__/busy.gif" /> 查询中......</h1>' });
		ddtTable.fnFilter(this.value,$("thead input").index(this));
		$.unblockUI();
		
	});
	$("thead .ddt_datetime").change(function(){
		$.blockUI({ message: '<h1><img src="__IMG__/busy.gif" /> 查询中......</h1>' });
		ddtTable.fnFilter(this.value,$("thead input").index(this));
		$.unblockUI();
	});
</script>
</html>