<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<include file="Public/head"/>
</head>
<body>
<div id="wrapper">
  <include file="Public/header" /> 
  <include file="Public/menu" />
  <div id="page-wrapper"> 
	  <div class="row">  
	    <div id="main" class="col-lg-12 main">
	    	<!--
	      <block name="nav">
	      <div class="breadcrumb">
	        <span>您的位置:</span>
	        <assign name="i" value="1" />
	        <foreach name="_nav" item="v" key="k">
	            <if condition="$i eq count($_nav)">
	            <span><a href="{$k}">{$v}</a></span>
	            <else />
	            <span><a href="{$k}">{$v}</a>&gt;</span>
	            </if>
	            <assign name="i" value="$i+1" />
	        </foreach>
	      </div>
	      </block>
	     -->
<block name="body">
    <div class="main-title">
        <h2>新增节点</h2>
    </div>
    
	<div class="panel panel-default">
		<div class="panel-heading">
			新增
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-6">    
			    <form action="{:U()}" method="post" class="form" role="form" >
			        <div class="form-group">
			            <label class="item-label">标题<span class="check-tips">（用于后台显示的配置标题）</span></label>
			            <input type="text" class="form-control" name="title" value="">
			        </div>
			        <div class="form-group">
			            <label class="item-label">排序<span class="check-tips">（用于分组显示的顺序）</span></label>
			            <input type="text" class="form-control" name="sort" value="">
			        </div>
			        <div class="form-group">
			            <label class="item-label">英文标识<span class="check-tips">（用于生成左侧列表链接）</span></label>
			            <input type="text" class="form-control" name="name" value="">
			        </div>
			        <div class="form-group">
			            <label class="item-label">上级菜单<span class="check-tips">（所属的上级菜单）</span></label>
			            <select name="pid" class="form-control">
			                <volist name="Menus" id="menu">
			                    <option value="{$menu.id}">{$menu.title_show}</option>
			                </volist>
			            </select>
			        </div>
			        <div class="form-group">
			            <label class="item-label">状态<span class="check-tips"></span></label>
			 			<label class="radio"><input type="radio" name="status" value="0">开启</label>
			            <label class="radio"><input type="radio" name="status" value="1">关闭</label>
			        </div>
			        <div class="form-group">
			            <label class="item-label">类型<span class="check-tips"></span></label>
			            <label class="radio"><input type="radio" name="level" value="1">模块</label>
			            <label class="radio"><input type="radio" name="level" value="2">列表</label>
			            <label class="radio"><input type="radio" name="level" value="3">操作</label>
			        </div>
			        <div class="form-group">
			            <label class="item-label">备注<span class="check-tips">（节点详细说明）</span></label>
			            <input type="text" class="form-control" name="remark" value="">
			        </div>
			        <div class="form-group">
			            <button class="btn btn-default submit-btn ajax-post" id="submit" type="submit" target-form="form">确 定</button>
			            <button class="btn btn-default btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			        </div>
				</form>	
				</div>
				<!-- /.col-lg-6 (nested) -->
			</div>
			<!-- /.row (nested) -->
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.panel -->
</block>
</div>  
	  </div>
	</div>	
  <include file="Public/footer" />
</div>    
  <include file="Public/script" />
</body>
</html>
<block name="script">
<script type="text/javascript">
	Think.setValue("pid", {$pid|default = 0});
    Think.setValue("status", 0);
    <if condition="$level egt 3">
    Think.setValue("level", 3);
    <else />
    Think.setValue("level", {$level|default = 1});
    </if>
</script>
</block>